.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

body,
html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}